header{
    text-align: center;
  }
  .Malick{
    width: 350px;
    height: 500px;
    
  }
  .limage{
    width: 50px;
    
  }
  li{
    padding: 15px;
    list-style: none;
  }
  span, h1, h2, figcaption, footer{
   font-family: 'Baloo Bhaijaan', cursive;
  }
  figure{
  
    overflow: hidden;
    position: relative;
  
  }
  
  figure a{
    display: block;
    overflow: hidden;
    background: black;
  }
  .img-effect{
    transition: 1s ease-in-out;
  }
  figure:hover img{
      transform: scale(1.25);
      opacity: 0.9;
      
  }
  figure:hover figcaption{
    display: block;
    color: tomato;
    transform: translatey(-60px);
  }
  
  figcaption{
   position: absolute;
   transition: 1s;
   font-size: 24px;
   color: skyblue;
  }
  figure img {
    width: 300px;
    height: 300px;
  }
  
  footer{
    color: white;
     background-color: black;
    margin-top: 10%;
    padding: 24px;
  }
   iframe{
    margin-left: 25%;
  }
  .dimg{
    padding-left: 25%;
  }
  h1{
    text-shadow: -4px 4px 0.2em rgba(255,255,255,.4), 4px -4px 0.4em rgba(255,255,255,.4);
  }